*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
    padding: 10px;
}

.wrapper{
    max-width: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
    border-radius: 10px;
    /* max-width: 300px; */
}
input{
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #999;
    outline: none;
}

button{
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    width: 100%;
    border: none;
    color: #fff;
    transition: all ease 0.5s;
    background-color: #28a745;
}

label{
    font-size: 1.2rem;
    color: #434343;

}
button:hover{
    
    background-color: #1f8244;
}


.pop-up{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: green;
    text-align: center;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    /* transition: all ease 1s; */
    animation: anim 3s forwards ;
}


@keyframes anim {
    0%{opacity: 0.25;}
    50%{opacity: 1;}
    100%{opacity: 0;}

}